  <h3>User info</h3>
  <%= attachment_image_tag user, :profile_image, :fill, 30, 30, format: "jpg", fallback: "rails.png", size: "30x30", class: "profile_image"%>
  <table class="table">
    <tr>
      <th>Name</th><td><%= user.name %></td>
    </tr>
    <tr>
      <th>Introduction</th><td><%= user.introduction %></td>
    </tr>
  </table>
  <% if current_user == user %>
    <%= link_to "SETTING", edit_user_path(user), class: "btn btn-block" %>
  <% end %>

  <div class="follow-btn">
    <%= render "users/followbtn", user: @user %>
  </div>
  <br>
  <div class="book-form">
    <%= form_with model: book_new, local: true, class: "form-group" do |f| %>
      <%= f.text_field :title, class: "form-control" %>
      <%= f.text_area :body, class: "form-control" %>
      <%= f.submit "Create Book", class: "btn btn-block btn-success" %>
    <% end %>
  </div>